@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap");

:root {
    --font-default: "Montserrat", sans-serif;
    --font-logo: "Sofia", cursive;

    --color-blue: #3a3a77;
    --color-blue-medium: #9191E6;
    --color-blue-light: #9898ff45;

    --color-grayblue: #CACAE5;

    --color-gray: #222222;
    --color-gray-light: #22222230;
}

body {
    font-family: var(--font-default);
}
