.progress-container {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.progress-container h5 {
    font-size: 16pt;
}

.mindfulness-progress-bar {
    --path-color: var(--color-burgundy);
    --trail-color: var(--color-pink-light);
    --text-color: var(--color-gray);
}

.exercise-progress-bar {
    --path-color: var(--color-orange-light);
    --trail-color: var(--color-orange-light-trail);
    --text-color: var(--color-gray);
}

.CircularProgressbar {
    width: 20rem;
}

.mindfulness-progress-bar .CircularProgressbar-path {
    stroke: var(--path-color);
}

.mindfulness-progress-bar .CircularProgressbar-trail {
    stroke: var(--trail-color);
}

.mindfulness-progress-bar .CircularProgressbar-text {
    fill: var(--text-color);
    text-anchor: middle;
}

.exercise-progress-bar .CircularProgressbar-path {
    stroke: var(--path-color);
}

.exercise-progress-bar .CircularProgressbar-trail {
    stroke: var(--trail-color);
}

.exercise-progress-bar .CircularProgressbar-text {
    fill: var(--text-color);
    text-anchor: middle;
}
