.progress-container {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.progress-container h5 {
    font-size: 16pt;
}

.progress-bar {
    --path-color: var(--color-blue-medium);
    --trail-color: var(--color-grayblue);
    --text-color: var(--color-gray);
}

.CircularProgressbar {
    width: 20rem;
}

.progress-bar .CircularProgressbar-path {
    stroke: var(--path-color);
}

.progress-bar .CircularProgressbar-trail {
    stroke: var(--trail-color);
}

.progress-bar .CircularProgressbar-text {
    fill: var(--text-color);
    text-anchor: middle;
}